<section class="features">
  <div>
    <img
      src="https://tiger555.win/static/media/exchange.0b676e3c05c64cde58c4.png"
      alt="img"
    />
    <h4>Exchange</h4>
    <h6>Ride The Sports Exchange To Victory!</h6>
  </div>
  <div>
    <img
      src="https://tiger555.win/static/media/casino.03c371a06f032a3c3c73.png"
      alt="img"
    />
    <h4>live casino</h4>
    <h6>Real-Time Thrill, Instant Wins!</h6>
  </div>
  <div>
    <img
      src="https://tiger555.win/static/media/slots.a722d4a373bfef4126a0.png"
      alt="img"
    />
    <h4>Slots</h4>
    <h6>Spin To Win In The Reels Of Fortune!</h6>
  </div>
  <div>
    <img
      src="https://tiger555.win/static/media/aviator_.15b44befccb28295edb3.png"
      alt="img"
    />
    <h4>Aviator</h4>
    <h6>Soar High, Win Bigger!</h6>
  </div>
</section>
