<button  id="menu" *ngIf="!sidebar"  (click)="show()">Menu</button>
<button *ngIf="sidebar" (click)="hide()">Menu</button>


<aside class="sidebar" id="sidebar" *ngIf="sidebar">
  <img src="assets/logo.png" alt="Logo" class="logo" />
  <nav class="s1">
    <button>🏠 Home</button>
    <button>⚡ In-Play</button>
    <button>🏏 Cricket</button>
    <button>⚽ Soccer</button>    
  </nav>
  <br>
  <nav class="s1">
    <button>⚡ In-Play</button>
    <button>🏏 Cricket</button>
    <button>⚽ Soccer</button>
    <button>🎾 Tennis</button>
    <button>🎰 Slots</button>
  </nav>
</aside>
